<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Online Health Care System</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <a class="navbar-brand" href="/profile/{{current_user.getType}}/{{current_user.getEmail}}">Profile</a>
            <a class="navbar-brand" href="{{ url_for('search') }}">Search</a>
            <a class="navbar-brand" href="{{ url_for('book') }}">Book</a>
            <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
        </nav>
        {% block content %} {% endblock %}
    </div>
</body>
</html>
